{% load static %}
<!DOCTYPE html>
<html lang="ja" id="mysite">
<head>
  <title>ひよりちゃんbot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
  <!-- 追加のCSSなど -->
  {% block head %}<head>
  {% endblock %}
</head>
<body id="body">
  <div id="root">
  <!-- ヘッダー -->
  <header id="header">
    <span class="header-logo">ひよりちゃんbot</span>
    <a class="header-github-icon" href="https://github.com/Nullpoir/hiyori_bot">
      <i class="fab fa-github"></i>
    </a>
  </header>
  <!-- コンテンツ -->
  <main id="content">
  {% block content %}
  {% endblock %}
  </main>
  <!-- フッター -->
  <footer id="footer">
    このサイトとbotが使用しているスローループに関するコンテンツの著作権はすべて芳文社ならびにうちのまいこ先生にあります。
    <a href="">芳文社</a>
    <a href="">うちのまいこ先生Twitter</a>
  </footer>
</div>
</body>
<script src="{% static "js/main.js" %}"></script>
</html>
